body {
    background-image: url('img/kalendar.png');
    background-attachment: fixed; /* Makes the background stay static */
    background-size: 120% 100%;
    background-position: center center; 
}

#nivoi {
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 2px; */
    /* opacity: 0; */
}

button {
    padding: 0;
    width: 90px;
    height: 90px;
    position: relative;
    top: 15vh;

    flex: 0 0 20%;

    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    /* padding: 12px 20px; */
    color: #fff;
    outline: none;
    /* border: 2px solid black; */
    border: none;
    font-size: 25px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

button:active {
    background-color: #1c6f98;
    transform: translateY(0);
}

.notdone {
    background-color: rgba(0, 0, 0, 0);
}

.done {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

.locked {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

#score {
    margin-top: 0;
    position: absolute;
    font-size: 30px;
}
